{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}

    <header role="banner">
      <ul id="wb-tphp">
        <li class="wb-slc">
          <a class="wb-sl" href="#wb-content">Skip to main content</a>
        </li>
        <li class="wb-slc visible-sm visible-md visible-lg">
          <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
        </li>
        <li class="wb-slc">
          <a class="wb-sl" href="#wb-lng">Skip to Language Toggle</a>
        </li>
      </ul>
      <nav role="navigation" class="pre-nav">
        <div class="container">
          <section class="pre-nav__items">
            <a href="https://canada.ca" target="_blank" tabindex="0"><img class="back-to-canada" src="{{ images_path  ~ 'GoC-fip-en.svg' }}" alt="Government of Canada logo"></a>
            <a id="wb-lng" lang="fr" hreflang="fr" href="#!"><span class="sr-only">Toggle language</span>Français</a>
          </section>
        </div>
      </nav>
    </header>

    <nav role="navigation" class="navigation-bar">
      <div class="container">
        <section class="navigation__items">
          <div class="branding">
            <a href="./" class="to-the-homepage">
              <img class="logo" src="{{ images_path  ~ 'logo-header.svg' }}" alt="Impact Canada Home">
              <span class="sr-only">Impact Canada</span>
            </a>
            <a class="mobile-menu-bars visible-xs" id="toggle-menu"><i class="fas fa-bars" aria-hidden=""></i> &nbsp;Menu</a>
          </div>
          <div class="menu">
            <h2 class="sr-only">Topics menu</h2>
            <a href="./about.html" aria-posinset="1" aria-setsize="4">About</a>
            <a href="./how-it-works.html" aria-posinset="2" aria-setsize="4">How it works</a>
            <a href="./news.html" aria-posinset="3" aria-setsize="4">News</a>
            <a href="./partner-with-us.html" aria-posinset="4" aria-setsize="4">Partner with us</a>
          </div>
        </section>
      </div>
    </nav>

    <main role="main" property="mainContentOfPage">
      <div class="jumbotron">
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="container">
          <div class="row align-vertical">
            <div class="col-sm-7 above">
              <h1 id="wb-content" property="name" class="mrgn-bttm-lg">Help us solve Canada’s biggest challenges.</h1>
              <a type="button" class="btn btn-primary btn-lg shadow-lg" href="#challenges">View challenges</a>
            </div>
            <div class="col-sm-5">
              <img class="rellax shape shape__3" alt="white outline of rounded diamond shape" src="{{ images_path  ~ 'diamond-outline-white.svg' }}" data-rellax-speed="4">
              <img class="rellax img-responsive" alt="Pink outline of a simplified map of Canada created by Loogart.com" src="{{ images_path  ~ 'map_by_loogart.svg' }}" data-rellax-speed="-5">
              <img class="rellax shape shape__5" alt="white outline of rounded speech bubble" src="{{ images_path  ~ 'bubble-outline-white.svg' }}" data-rellax-speed="-2">
              <img class="rellax shape shape__6" alt="teal rectangular speed bubble" src="{{ images_path  ~ 'bubble-gradient-teal.svg' }}" data-rellax-speed="-3">
              <img class="rellax shape shape__4 " alt="red quarter circle shape" src="{{ images_path  ~ 'quarter-gradient-red.svg' }}" data-rellax-speed="-3">
              <img class="rellax shape shape__2" alt="rounded blue square shape" src="{{ images_path  ~ 'square-blue.svg' }}" data-rellax-speed="2">
              <img class="rellax shape shape__1" alt="teal circle shape" src="{{ images_path  ~ 'circle-gradient-teal.svg' }}" data-rellax-speed="-2">
            </div>
          </div>
        </div>
      </div>

        <!-- challenges section -->
        <section id="challenges">
            <div class="container">

                <h2 class="h1"><span class="blt blt-teal"></span>Impact Canada Challenge Hub</h2>
                <p class="lead">The Government of Canada wants innovative solutions to economic, environmental, and social problems.</p>
                <div class="row mrgn-tp-lg wb-eqht">
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/8_crush-it_v2.jpg' }}" alt="Mining truck driving away" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>Crush it! Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/7_power-forward_v2.jpg' }}" alt="Clean energy from wind power" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>Power Forward Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/4_indigenous-homes_v2.jpg' }}" alt="Construction worker installing wall panel" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-closed">Closed challenge</div>
                                    <div class="blt blt-red"></div>
                                    <div>
                                        <p>Indigenous Services Canada</p>
                                        <h3>Indigenous Homes Innovation Initiative</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/5_skys-the-limit_v2.jpg' }}" alt="airplane flying" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>The Sky's the Limit Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/3_drug-checking_v2.jpg' }}" alt="microscope within laboratory setting" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open Challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Health Canada</p>
                                        <h3>Drug Checking Technology Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/6_whales_v2.jpg' }}" alt="Beluga front half" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts">Coming soon</div>
                                    <div class="blt blt-navy"></div>
                                    <div>
                                        <p>Department of Fisheries and Oceans</p>
                                        <h3>Whales Innovation Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/2_women-cleantech_v2.jpg' }}" alt="women conversing with laptop beside them" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-closed">Closed challenge</div>
                                    <div class="blt blt-red"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>Women in Cleantech Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/1_smart-cities_v2.jpg' }}" alt="aerial view of roads meeting in a circular formation" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-closed">Closed challenge</div>
                                    <div class="blt blt-red"></div>
                                    <div>
                                        <p>Infrastructure Canada</p>
                                        <h3>Smart Cities Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </section>

        <!-- other initiatives -->
        <section id="nonChallenges">
            <div class="container">
                <h2 class="h1"><span class="blt blt-red"></span> Other initiatives</h2>
                <div class="row mrgn-tp-lg wb-eqht">
                    <div class="col-sm-6 col-md-4">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'other-initiatives/1-opioid.jpg' }}" alt="drug containers on a shelf" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="blt"></div>
                                    <div>
                                        <p>Health Canada</p>
                                        <h3>Opioid Drug Treatment Social Impact Bond</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'other-initiatives/2-homelessness.jpg' }}" alt="homeless person sitting on box in the streets" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="blt"></div>
                                    <div>
                                        <p>Employment and Social Development Canada</p>
                                        <h3>Homelessness Pay for Success Project</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'other-initiatives/3-cannabis.jpg' }}" alt="Cannabis Leaf" class="" />
                                </div>
                                <div class="card-body">
                                    <div class="blt"></div>
                                    <div>
                                        <p>Correctional Service Canada</p>
                                        <h3>Cannabis Pardons Service Delivery Enhancements</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <!-- CTA box -->
        <section id="ctaBox">
            <div class="cta cta__blue">
                <div class="container">
                    <h2 class="h1"><span class="blt blt-red"></span> Become a partner. Launch a Challenge.</h2>
                    <p>The Impact Canada Initiative is led by a Centre of Expertise housed within the Impact and Innovation Unit of the Privy Council Office, which also manages this platform in partnership with Government of Canada departments.</p>
                    <a type="button" class="btn btn-navy" href="./partner-with-us.html">Become a partner</a>
                </div>
            </div>
        </section>

    </main>
    
  {% endblock %}
{% endif %}