{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}

    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : '',
      ]
    %}
    <header role="banner">
      <ul id="wb-tphp" class="wb-init wb-disable-inited">
        <li class="wb-slc">
          <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc visible-sm visible-md visible-lg">
          <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
        </li>
        <li class="wb-slc">
          <a class="wb-sl" href="#wb-lng">Skip to Language Toggle</a>
        </li>
        <li class="wb-slc">
          <a class="wb-sl" href="#challenges">Skip to Current Challenges</a>
        </li>
        <li class="wb-slc">
          <a class="wb-sl" href="#nonChallenges">Skip to Other Initiatives</a>
        </li>
        <li class="wb-slc">
          <a class="wb-sl" rel="alternate" href="?wbdisable=true">Switch to basic HTML version</a>
        </li>
      </ul>
      <nav role="navigation" class="pre-nav">
        <div class="container">
          <section class="pre-nav__items">
            <a href="https://canada.ca" target="_blank" tabindex="0"><img class="back-to-canada" src="{{ images_path  ~ 'GoC-fip-en.svg' }}" alt="Government of Canada logo"></a>
            <a id="wb-lng" hreflang="fr" href="#!" lang="fr"><span class="sr-only">Toggle language</span>Français</a>
          </section>
        </div>
      </nav>
    </header>

    <nav role="navigation" class="navigation-bar">
      <div class="container">
        <section class="navigation__items">
          <div class="branding">
            <a href="./" class="to-the-homepage">
              <img class="logo" src="{{ images_path  ~ 'logo-header.svg' }}" alt="Impact Canada Home">
              <span class="sr-only">Impact Canada</span>
            </a>
            <a class="mobile-menu-bars visible-xs" id="toggle-menu"><i class="fas fa-bars" aria-hidden=""></i> &nbsp;Menu</a>
          </div>
          <div class="menu">
            <h2 class="sr-only">Topics menu</h2>
            <a href="./about.html" aria-posinset="1" aria-setsize="4">About</a>
            <a href="./how-it-works.html" aria-posinset="2" aria-setsize="4">How it works</a>
            <a href="./news.html" aria-posinset="3" aria-setsize="4">News</a>
            <a href="./partner-with-us.html" aria-posinset="4" aria-setsize="4">Partner with us</a>
          </div>
        </section>
      </div>
    </nav>
    
    <div>
      <div id="wb-bnr" class="{{ container }}">
        <div class="row">
          {{ page.banner }}
          <div class="col-md-6 langbar">
            <section id="wb-lng" class="visible-md visible-lg text-right">
              <h2 class="wb-inv">{{ 'Language selection'|t }}</h2>
              <div class="row">
                <div class="col-md-12">
                    {{ page.language_toggle }}
                </div>
              </div>
            </section>
          </div>
          <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
            <h2>{{ 'Search and menus'|t }}</h2>
            <ul class="list-inline text-right chvrn">
              <li>
                <a href="#mb-pnl" title="{{ 'Search and menus'|t }}" aria-controls="mb-pnl" class="overlay-lnk" role="button">
                  <span class="glyphicon glyphicon-search">
                    <span class="glyphicon glyphicon-th-list">
                      <span class="wb-inv">{{ 'Search and menus'|t }}</span>
                    </span>
                  </span>
                </a>
              </li>
            </ul>
            <div id="mb-pnl"></div>
          </section>
          {{ page.search }}
        </div>
        <div class="row">
          <div id="wb-sttl" class="col-md-12">
            <a href="{{ url('<front>') }}">{{ 'Impact Canada Challenge Platform'|t }}</a>
          </div>
        </div>
      </div>
      {% if gcweb_cdn and gcweb_cdn_url %}
        <nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl" data-ajax-replace="{{ gcweb_cdn_url }}{{ language }}.html" typeof="SiteNavigationElement">
          <div class="pnl-strt {{ container }} nvbar">
            <h2 class="wb-inv">{{ 'Topics Menu'|t }}</h2>
           {{ page.navigation }}
          </div>
        </nav>
      {% else %}
        <nav role="navigation"{{ attributes.setAttribute('id', 'wb-sm').removeClass('clearfix').addClass('wb-menu', 'visible-md', 'visible-lg')|without('role', 'aria-labelledby') }} data-trgt="mb-pnl">
          <div class="pnl-strt {{ container }} nvbar">
            <h2 class="wb-inv">{{ 'Topics Menu'|t }}</h2>
            {{ page.navigation }}
          </div>
        </nav>
      {% endif %}
      {{ page.breadcrumb }}
    </div>
  {% endblock %}
{% endif %}