        <!-- challenges section -->
        <section id="challenges">
            <div class="container">

                <h2 class="h1"><span class="blt blt-teal"></span>Impact Canada Challenge Hub</h2>
                <p class="lead">The Government of Canada wants innovative solutions to economic, environmental, and social problems.</p>
                <div class="row mrgn-tp-lg wb-eqht">
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/8_crush-it_v2.jpg' }}" alt="Mining truck driving away" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>Crush it! Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/7_power-forward_v2.jpg' }}" alt="Clean energy from wind power" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>Power Forward Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/4_indigenous-homes_v2.jpg' }}" alt="Construction worker installing wall panel" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-closed">Closed challenge</div>
                                    <div class="blt blt-red"></div>
                                    <div>
                                        <p>Indigenous Services Canada</p>
                                        <h3>Indigenous Homes Innovation Initiative</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/5_skys-the-limit_v2.jpg' }}" alt="airplane flying" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>The Sky's the Limit Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/3_drug-checking_v2.jpg' }}" alt="microscope within laboratory setting" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-open">Open Challenge</div>
                                    <div class="blt blt-teal"></div>
                                    <div>
                                        <p>Health Canada</p>
                                        <h3>Drug Checking Technology Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/6_whales_v2.jpg' }}" alt="Beluga front half" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts">Coming soon</div>
                                    <div class="blt blt-navy"></div>
                                    <div>
                                        <p>Department of Fisheries and Oceans</p>
                                        <h3>Whales Innovation Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/2_women-cleantech_v2.jpg' }}" alt="women conversing with laptop beside them" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-closed">Closed challenge</div>
                                    <div class="blt blt-red"></div>
                                    <div>
                                        <p>Natural Resources Canada</p>
                                        <h3>Women in Cleantech Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'challenge-imagery/1_smart-cities_v2.jpg' }}" alt="aerial view of roads meeting in a circular formation" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="sts sts-closed">Closed challenge</div>
                                    <div class="blt blt-red"></div>
                                    <div>
                                        <p>Infrastructure Canada</p>
                                        <h3>Smart Cities Challenge</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </section>
