<div class="jumbotron">
  <div class="grid-line"></div>
  <div class="grid-line"></div>
  <div class="grid-line"></div>
  <div class="grid-line"></div>
  <div class="grid-line"></div>
  <div class="grid-line"></div>
  <div class="container">
    <div class="row align-vertical">
      <div class="col-sm-7 above">
        <h1 id="wb-content" property="name" class="mrgn-bttm-lg">Help us solve Canada’s biggest challenges.</h1>
        <a type="button" class="btn btn-primary btn-lg shadow-lg" href="#challenges">View challenges</a>
      </div>
      <div class="col-sm-5">
        <img class="rellax shape shape__3" alt="white outline of rounded diamond shape" src="{{ images_path  ~ 'diamond-outline-white.svg' }}" data-rellax-speed="4">
        <img class="rellax img-responsive" alt="Pink outline of a simplified map of Canada created by Loogart.com" src="{{ images_path  ~ 'map_by_loogart.svg' }}" data-rellax-speed="-5">
        <img class="rellax shape shape__5" alt="white outline of rounded speech bubble" src="{{ images_path  ~ 'bubble-outline-white.svg' }}" data-rellax-speed="-2">
        <img class="rellax shape shape__6" alt="teal rectangular speed bubble" src="{{ images_path  ~ 'bubble-gradient-teal.svg' }}" data-rellax-speed="-3">
        <img class="rellax shape shape__4 " alt="red quarter circle shape" src="{{ images_path  ~ 'quarter-gradient-red.svg' }}" data-rellax-speed="-3">
        <img class="rellax shape shape__2" alt="rounded blue square shape" src="{{ images_path  ~ 'square-blue.svg' }}" data-rellax-speed="2">
        <img class="rellax shape shape__1" alt="teal circle shape" src="{{ images_path  ~ 'circle-gradient-teal.svg' }}" data-rellax-speed="-2">
      </div>
    </div>
  </div>
</div>
